#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  height: 100%; /* S'assurer que la hauteur totale de la page est utilisée */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les paddings par défaut */
  display:flex;
  flex-direction: column;
}
